.myclass {
	background-color: yellow;
	background: linear-gradient(to top, black, white);
	transition: all .5s;
}

p {
	background-color: yellow;
	background: linear-gradient(to top, black, white);
	transition: all .5s;
}